  .fakeimg {
    height: 200px;
    background: #aaa;
  }

/*Header Hintergrund*/
  .jumbotron{
  background-color: #d5d8dc/* light grey */
  }

/*Buttons*/
.button {
  background-color: #7dcea0;
  border: none;
  border-radius: 12px
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.resetbutton {
  background-color: #dc3545;
  border: none;
  border-radius: 12px
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.menu{
    float:left;
    width: 33%;
    margin: 10% 0 0 0;
}

.menubutton{
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin: 0 14px 28px;
    /* border-radius: 6px; */
    cursor: pointer;
    vertical-align: top;
    background-position: 50% 10px;
    background-repeat: no-repeat;
    width: 196px;
    height: 196px;
    background-color: #7dcea0;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05);
}

/*Body*/

body {
    background-color: #d5d8dc;
}

h1{
    text-align: center;
}

.searchField{
display: block;
width: 31.5%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color:#495057;
background-color:#fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.app{
    text-align: center;
}

.dotlessList{
    list-style-type:none
}

.body-background{
background-color: ;
}


.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


