<!DOCTYPE html>
<html lang="en">
<head>
    {# In diesem Abschnitt wird der Inhalt der header.html Datei (Stylesheets etc.) integriert #}
    {% include 'header.html' %}
</head>
<body>
    {# In diesem Abschnitt wird der Inhalt der nav.html Datei (Navigationsleiste) integriert #}
    {% include 'nav.html' %}
<div class="container">
    <div>
        <br>
        <h3 class="shadow-sm p-2 mb-2 bg-white rounded">Spaltenauswahl</h3>
        <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Bitte die Spalten abwählen, für die keine Skripte generiert
            werden sollen</h5>
        <form action="/keyCheck" id=columns method="POST">
              <!-- Suchfeld -->
              <input class="searchField mb-2" id="searchbarHome" placeholder="Suchen.." type="text">
            <div class="row">
                <div class="col-4">
                    <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Tabellen</h5>
                    <div class="list-group" id="list-tab" role="tablist">
                        {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                        {% for table in tabellenobjekte %}{%if table.isSelected%}
                        {# href ist die id der Spaltenliste, welche beim klick angezeigt werden soll #}
                        <a aria-controls="{{table.name}}" class="list-group-item list-group-item-action "
                           data-toggle="list"
                           href="#list-{{table.name}}" id="list-{{table.name}}-list" role="tab">
                            {# Der jeweilige Tabellenname wird eingesetzt #}
                            {{table.name}}
                        </a>
                        {%endif%}{% endfor %}
                    </div>
                    <input class="button" type="submit" value="Übernehmen">
                </div>
                <div class="col-4">
                    <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Spalten
                        <!-- Sortieren-Button -->
                         <button class="btn-primary small rounded" onclick="sortListDir()" type="button" > Sort</button>
                    </h5>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Checkbox, um alle Spalten aus-/abzuwählen -->
                        <label>
                            <input type="checkbox" class="check" id="checkAll"> Alle auswählen / abwählen
                        </label>
                        {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                        {% for tableObjekt in tabellenobjekte %}{%if tableObjekt.isSelected%}
                        {# id wird referenziert von dem Element der Tabelle und beim klick angezeigt #}
                        <div class="tab-pane fade show shadow-lg p-2 mb-2 bg-white rounded"
                             id="list-{{tableObjekt.name}}"
                             role="tabpanel"
                             {#
                             aria-labelledby="list-{{tableObjekt.name}}-list">
                            {# Dieser Abschnitt wird für jede Spalte der jeweiligen Tabellen generiert #}
                            {% for col in tableObjekt.columns.values() %}
                            <li class="dotlessList">
                                <input class="check"
                                       type="checkbox"
                                       {# Tabellenname als name für die spätere Zurodnung in der Vararbeitung #}
                                       name="{{tableObjekt.name}}"
                                       {# Mit dem Spaltennamen als value wird in der Verarbeitung weitergearbeitet #}
                                       value="{{ col.name }}"
                                       {% if col.isSelected %}checked{% else %}unchecked{% endif %}>
                                {# Spaltenname :: Datentyp (Länge) #}
                                {{col.name}} :: {{col.datatype}}({{col.length}})
                                {# Ist die Spalte als Key markiert, wird sie mit diesem Badge markiert #}
                                {%if col.isKey%} <span class="badge badge-primary badge-pill">KEY</span>{%endif%}
                                {# Ist die Spalte als SourceKey markiert, wird sie mit diesem Badge markiert #}
                                {%if col.isSourceKey%} <span class="badge badge-primary badge-pill">SOURCEKEY</span>{%endif%}
                            </li>
                            {% endfor %}
                        </div>
                        {%endif%}{% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Skript zum Aus-/Abwählen aller Checkboxen-->
<script>
$("#checkAll").click(function () {
     $('.tab-pane.active .check').prop('checked', $(this).prop('checked'));
});
</script>
<!--Skript für die Suchfunktion-->
<script>
    $(document).ready(function(){
  $("#searchbarHome").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#list-tab a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</body>
</html>

