<!DOCTYPE html>
<html lang="en">
<head>
    {# In diesem Abschnitt wird der Inhalt der header.html Datei (Stylesheets etc.) integriert #}
    {% include 'header.html' %}
</head>
<body>
    {# In diesem Abschnitt wird der Inhalt der nav.html Datei (Navigationsleiste) integriert #}
    {% include 'nav.html' %}
<div class="container">
    <br>
    <div>
        <h3 class="shadow-sm p-2 mb-2 bg-white rounded">Generierungsauswahl</h3>
        <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Bitte die Skripte auswählen, die generiert werden sollen</h5>
        <br>
        <form id=tables method="POST" action="/generated">
            <!-- Checkbox, um alle aus-/abzuwählen -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="check" id="checkAll" unchecked> Alle auswählen / abwählen
                </label>
            </div>
            <!-- Checkboxen für jeden Skript-Typen. Kürzel in value wird für die Weiterverarbeitung verwendet-->
            <div class="shadow-sm p-2 mb-2 bg-white rounded">
                <ul class="list-group" id="myList">
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="cdc" unchecked> CDC
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="ddl" unchecked> DDL
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="db2" unchecked> DB2-Export
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="put" unchecked> PUT
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="copyinto" unchecked> COPY INTO
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="hash" unchecked> HASH
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="control" unchecked > CONTROL FRAMEWORK
                    </li>
                </ul>
            </div>
            <input type="submit" value="Generieren" id="generateButton" class="button"/>
        </form>
    </div>
</div>
<!--Skript für die Suchfunktion-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
<!--Skript zum Aus-/Abwählen aller Checkboxen-->
<script>$("#checkAll").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
});
</script>

</body>
</html>
