<!DOCTYPE html>
<html lang="en">
<head>
    {# In diesem Abschnitt wird der Inhalt der header.html Datei (Stylesheets etc.) integriert #}
    {% include 'header.html' %}
</head>
<body>
{# In diesem Abschnitt wird der Inhalt der nav.html Datei (Navigationsleiste) integriert #}
{% include 'nav.html' %}
<div class="container">
    <br>
    <div>
        <h3 class="shadow-sm p-2 mb-2 bg-white rounded">Generierungsauswahl</h3>
        <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Bitte die Skripte auswählen, die generiert werden sollen</h5>
        <br>
        <form id=tables method="POST" action="/generated">
            <!-- Checkbox, um alle aus-/abzuwählen -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="check" id="checkAll" unchecked> Alle auswählen / abwählen
                </label>
            </div>
            <!-- Checkboxen für jeden Skript-Typen. Kürzel in value wird für die Weiterverarbeitung verwendet-->
            <div class="shadow-sm p-2 mb-2 bg-white rounded">
                <ul class="list-group" id="myList">
                    <li class="dotlessList">
                        {# If Abfragen, um die Checkboxen für die zuvor angeklickten Skripte zu setzen. Werte werden aus app.py übergeben. #}
                        <input class="check" type="checkbox" name="checkbox" value="cdc" {% if cdc %}checked {% else
                               %}unchecked {% endif %}> CDC
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="ddl" {% if ddl %}checked {% else
                               %}unchecked {% endif %}> DDL
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="db2" {% if db2 %}checked {% else
                               %}unchecked {% endif %}> DB2-Export
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="put" {% if put %}checked {% else
                               %}unchecked {% endif %}> PUT
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="copyinto" {% if copyinto %}checked
                               {% else %}unchecked {% endif %}> COPY INTO
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="hash" {% if hash %}checked {% else
                               %}unchecked {% endif %}> HASH
                    </li>
                    <li class="dotlessList">
                        <input class="check" type="checkbox" name="checkbox" value="control" {% if control %}checked {%
                               else %}unchecked {% endif %}> CONTROL FRAMEWORK
                    </li>
                </ul>
            </div>
            <input type="submit" value="Generieren" id="generateButton" class="button"/>
        </form>
        {# Wenn eines der Skripte ausgewählt wurde, dann bestätige die Generierung #}
        {%if cdc or ddl or db2 or put or copyinto or hash or control %}
        <div class="alert alert-success">
            <strong>Erfolg!</strong> Die ausgewählten Skripte wurden generiert
        </div>
        {# Ansonsten gib dem Nutzer den Hinweis, dass er kein Skript ausgewählt hat. #}
        {% else %}
        <div class="alert alert-info">
            <strong>Achtung!</strong> Es wurden keine Skripte ausgewählt.
        </div>
        {% endif %}
    </div>
</div>
<!--Skript für die Suchfunktion-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
<!--Skript zum Aus-/Abwählen aller Checkboxen-->
<script>$("#checkAll").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
});

</script>


</body>
</html>
