<!DOCTYPE html>
<html lang="en">
<head>
    {# In diesem Abschnitt wird der Inhalt der header.html Datei (Stylesheets etc.) integriert #}
    {% include 'header.html' %}
</head>
<body class="body-background">
    {# In diesem Abschnitt wird der Inhalt der nav.html Datei (Navigationsleiste) integriert #}
    {% include 'nav.html' %}
<div class="container">
    <br>
    <h3 class="shadow-sm p-2 mb-2 bg-white rounded"> Aktueller Stand der generierten Skripte für Tabellen und Spalten
        aus JSON. </h3>
    <!-- Suchfeld -->
    <input class="searchField mb-2" id="searchbarHome" placeholder="Suchen.." type="text">
    <div class="row">
        <div class="col-4">
            <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Tabellen
            </h5>
            <div class="list-group" id="list-tab" role="tablist">
                {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                {% for table in tabellenobjekte %}{%if table.isSelected%}
                {# href ist die id der Spaltenliste, welche beim klick angezeigt werden soll #}
                <a class="list-group-item list-group-item-action " id="list-{{table.name}}-list" data-toggle="list"
                   aria-controls="{{table.name}}" href="#list-{{table.name}}" role="tab">
                    {# Der jeweilige Tabellenname wird eingesetzt #}
                    {{table.name}}
                    {# Die Anzahl der ausgewählten Spalten und die gesamte Anzahl der Spalten der Tabelle wird eingesetzt #}
                    <span class="badge badge-secondary badge-pill">{{table.getSelectedColumns()|length}}/{{table.columns|length}}</span>
                </a>
                {%endif%}{% endfor %}
            </div>
        </div>

        <div class="col-4">
            <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Spalten
                <button class="btn-primary small rounded" onclick="sortListDir()" type="button"> Sort</button>
            </h5>
            <div class="tab-content" id="nav-tabContent">
                {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                {% for tableObjekt in tabellenobjekte %}{%if tableObjekt.isSelected%}
                {# id wird referenziert von dem Element der Tabelle und beim klick angezeigt #}
                <div class="tab-pane fade show shadow-sm p-2 mb-2 bg-white rounded"
                     id="list-{{tableObjekt.name}}"
                     role="tabpanel"
                     aria-labelledby="list-{{tableObjekt.name}}-list">
                    {# Dieser Abschnitt wird für jede Spalte der jeweiligen Tabellen generiert #}
                    {% for col in tableObjekt.columns.values() %}
                    {# Wenn die Spalte ausgewählt ist wird dieser Abschnitt generiert #}
                    {%if col.isSelected%}

                    <li class="dotlessList">
                        {# Spaltenname :: Datentyp (Länge) #}
                        {{col.name}} :: {{col.datatype}}({{col.length}})
                        {# Ist die Spalte als Key markiert, wird sie mit diesem Badge markiert #}
                        {%if col.isKey%} <span class="badge badge-primary badge-pill">KEY</span>{%endif%}
                        {# Ist die Spalte als SourceKey markiert, wird sie mit diesem Badge markiert #}
                        {%if col.isSourceKey%} <span class="badge badge-primary badge-pill">SOURCEKEY</span>{%endif%}
                    </li>
                    {# Wenn die Spalte NICHT ausgewählt ist wird dieser Abschnitt generiert (Text und Pills ausgegraut) ansonsten wie zuvor #}
                    {%else%}
                    <li class="dotlessList list-group-item-light">
                        {{col.name}} :: {{col.datatype}}({{col.length}})
                        {%if col.isKey%} <span class="badge badge-secondary badge-pill">KEY</span>{%endif%}
                        {%if col.isSourceKey%} <span class="badge badge-secondary badge-pill">SOURCEKEY</span>{%endif%}
                    </li>
                    {%endif%}{% endfor %}
                </div>
                {%endif%}{% endfor %}
            </div>

        </div>
    </div>

</div>
<br>
<div class="container">
    <a href="/loadCSV">
        <button type="button" class="resetbutton rounded text-white">Neustarten und aus CSV laden</button>
    </a>
</div>
<!-- Suchleisten-Logik -->
<script>
$(document).ready(function(){
  $("#searchbarHome").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#list-tab a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

</body>
</html>
