<!DOCTYPE html>
<html lang="en">
<head>
    {# In diesem Abschnitt wird der Inhalt der header.html Datei (Stylesheets etc.) integriert #}
    {% include 'header.html' %}
</head>
<body>
    {# In diesem Abschnitt wird der Inhalt der nav.html Datei (Navigationsleiste) integriert #}
    {% include 'nav.html' %}
<div class="container">
    <div>
        <br>
        <h3 class="shadow-sm p-2 mb-2 bg-white rounded">Schlüsselauswahl</h3>
        <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Bitte wählen Sie fehlende Schlüsselspalten aus</h5>
        <input class="searchField p-2 mb-2" id="searchbarHome" placeholder="Suchen.." type="text">
        <form action="/generateSelection" id=columns method="POST">
            <div class="row">
                <div class="col-4">
                    <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Tabellen</h5>
                    <div class="list-group" id="list-tab" role="tablist">
                        {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                        {% for table in tabellenobjekte %}{%if table.isSelected %}
                        {# href ist die id der Spaltenliste, welche beim klick angezeigt werden soll #}
                        <a aria-controls="{{table.name}}" class="list-group-item list-group-item-action " data-toggle="list"
                           href="#list-{{table.name}}" id="list-{{table.name}}-list" role="tab">{{table.name}}
                            <br>
                            {# Je nach Status den die Methode checkKey() der Tabelle zurückgibt wird entweder rot oder grün verwendet, ebenfalls wird der entsprechende String angezeigt #}
                            <span class="badge badge-{%if table.checkKey()%}danger{%else%}success{%endif%} badge-pill">{{table.checkKeyType()}}</span>
                        </a>
                        {%endif%}{% endfor %}
                    </div>
                    <input class="button" type="submit" value="Übernehmen">
                </div>
                <div class="col-4">
                    <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Spalten
                        <button class="btn-primary small rounded" onclick="sortListDir()" type="button"> Sort</button>
                    </h5>
                    <div class="tab-content" id="nav-tabContent">
                        {# Dieser Abschnitt wird für jede, als ausgewählt markierte Tabelle in der übergebenen Liste generiert #}
                        {% for tableObjekt in tabellenobjekte %}{%if tableObjekt.isSelected%}
                        {# id wird referenziert von dem Element der Tabelle und beim klick angezeigt #}
                        <div class="tab-pane fade show shadow-lg p-2 mb-2 bg-white rounded"
                             id="list-{{tableObjekt.name}}"
                             role="tabpanel"
                             aria-labelledby="list-{{tableObjekt.name}}-list">
                            {# Dieser Abschnitt wird für jede Spalte der jeweiligen Tabellen generiert #}
                            {% for col in tableObjekt.columns.values() %}
                            {# Wenn die Spalte ausgewählt ist wird dieser Abschnitt generiert #}
                            {%if col.isSelected%}
                            <li class="dotlessList">
                                <input class="check"
                                       type="checkbox"
                                       {# Tabellenname als name für die spätere Zurodnung in der Vararbeitung #}
                                       name="{{tableObjekt.name}}"
                                       {# Mit dem Spaltennamen als value wird in der Verarbeitung weitergearbeitet #}
                                       value="{{ col.name }}"
                                       {# Ist die Spalte ein Key, wird die Checkbox geckeckt, ansonsten nicht #}
                                       {% if col.isKey and col.isSelected %}checked{% else %}unchecked{% endif %}>
                                {# Spaltenname :: Datentyp (Länge) #}
                                {{col.name}} :: {{col.datatype}}({{col.length}})
                                {# Ist die Spalte als SourceKey markiert, wird sie mit diesem Badge markiert #}
                                {%if col.isSourceKey%} <span class="badge badge-primary badge-pill">SOURCEKEY</span>{%endif%}
                            </li>
                            {# Wenn die Spalte NICHT ausgewählt ist wird dieser Abschnitt generiert (Text und Pills ausgegraut) ansonsten wie zuvor #}
                            {%else%}
                            <li class="dotlessList list-group-item-light">
                                <input class="check"
                                       type="checkbox"
                                       name="{{tableObjekt.name}}"
                                       value="{{ col.name }}"
                                       {% if col.isKey and col.isSelected %}checked{% else %}unchecked{% endif %}>
                                {{col.name}} :: {{col.datatype}}({{col.length}})
                                {%if col.isSourceKey%} <span class="badge badge-secondary badge-pill">SOURCEKEY</span>{%endif%}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {%endif%}{% endfor %}
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<!--Skript für die Suchfunktion-->
<script>
$(document).ready(function(){
  $("#searchbarHome").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#list-tab a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

</body>
</html>