<!DOCTYPE html>
<html lang="en">
<head>
<!-- Importieren des Headers-->
    {% include 'header.html' %}
</head>
<body>
<!--Importieren der Navigationsleiste-->
{% include 'nav.html' %}
<div class="container">
    <br>
    <div>
        <h3 class="shadow-sm p-2 mb-2 bg-white rounded">Tabellenauswahl</h3>
        <h5 class="shadow-sm p-2 mb-2 bg-white rounded">Bitte die Tabellen abwählen, für die keine Skripte generiert
            werden sollen.</h5>
        <div>
            <!--<p>Nach Tabelle suchen: </p>-->
            <input class="searchField" id="myInput" type="text" placeholder="Suchen..">
        </div>
        <br>
        <form id=tables method="POST" action="/columnSelection">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="check" id="checkAll" checked> Alle auswählen / abwählen
                </label>
            </div>
            <div class="shadow-lg p-2 mb-2 bg-white rounded">
                <ul class="list-group" id="myList">
<!--                    Loop zum Erstellen der Liste der Tabellen-->
                    {% for table in tables.values() %}
                    <li class="dotlessList">
<!--                        Setzt einen Haken, wenn Tabelle bereits ausgewählt wurde. Entfernt den Haken, wenn sie nicht ausgewählt wurde-->
                        <input class="check" type="checkbox" name="checkbox" value="{{ table.name }}"
                         {% if table.isSelected %}
                               checked
                               {% else %}
                               unchecked
                          {% endif %}
                        > {{ table.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <input class="button" type="submit" value="Übernehmen"/>

        </form>
    </div>
</div>
<!--Skript für die Suchfunktion-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
<!--Skript zum Aus-/Abwählen aller Checkboxen-->
<script>$("#checkAll").click(function () {
    $(".check").prop('checked', $(this).prop('checked'));
});

</script>

</body>
</html>
